/*Body & all selectors on page */

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

body {
    background-color: #f1f2f1;
}

.btn a {
    color: #31498b;
}

.btn:hover, .btn:active, .btn a:hover, .about .btn:hover {
    border-color: #31498b;
    background-color: white;
    color: #31498b;
    box-shadow: none lightgray;
}

.btn {
    border-color: #31498b;
    color: #31498b;
}

h1, h2, h3, h4, h5, h6 {
    color: #31498b;
}

h3 {
    padding-left: .5em;
}

.color-selector {
    background-color: #9db5da;
    color: white;
    border-radius: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em .5em;
}

a.btn {
    background-color: #31498b;
    color: white;
    width: fit-content;
    border-radius: 1em;
    margin: 0 1.5em;
}

.btn p {
    margin-bottom: 0em;
}

.divider {
    height: .5em;
}

.row {
    height: min-content;
}

/*Nav bar, header, Jumbotron*/

#nav a:active, #nav a:hover {
    color: #31498b;
}

nav {
    opacity: 0.95;
    border-bottom: .1em solid #31498b;
}

.headshot {
    margin: 3em 0 0 3em;
    height: 15em;
    display: inline-block;
    border-radius: 50%;
}

#navbarNav {
    float: right;
}

#navbar_headshot {
    height: 3em;
    margin: .1em .5em;
}

.jumbotron {
    background-image: url("./Assests/indy-image2.jpg");
    background-size: cover;
    height: 690px;
    background-attachment: fixed;
}

/*About me*/

.about-text-container p a {
    color: #31498b;
}

.about-text-container p {
    font-size: 1em;
}

.about a.btn {
    background-color: #31498b;
    color: white;
    width: fit-content;
    border-radius: 1em;
    margin: 0 1.5em;
    font-size: 1.5em;
}

/*Skills*/

.skill-container {
    padding: 1.5em 0;
}

.btn.skill-link, .btn.skill-link:active {
    width: 138px;
    border-color: #31498b;
    background-color: #31498b;
    color: white;
}

/*.btn.skill-link:hover{
    background-image: url("./Assests/icon-csharp.png");
    background-size: 1em;
    background-position: center;
    background-repeat: no-repeat;
    color: #31498b;
}*/

div.bottom-row p {
    margin-bottom: 0 !important;
}

/*Portfolio*/

div.card-deck {
    color: black;
    margin: 1em 0;
}

.card-body {
    position: relative;
}

.card-title {
    padding: 0;
    text-align: center;
}

.card-text {
    text-align: justify;
    position: relative;
}

div.button-holder {
    bottom: 0;
    text-align: center;
}

.git-link.btn {
    margin-bottom: 1em;
}

/*Contact*/

form {
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 1.25rem;
    border-radius: .5em;
    width: fit-content;
    background-image: url("./Assests/indy-skyline-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
    margin: 1em 2.5%;
}

form .btn {
    background-color: #31498b;
    color: white;
}

form .btn:active {
    color: white;
    background-color: #31498b;
}

form input, form textarea {
    width: 80%;
    opacity: .8;
    margin: 0 10%;
}

form .btn {
    opacity: 1;
}

form .btn:hover {
    opacity: .8;
}

/*footer*/

footer {
    height: 2em;
    margin-top: 1em;
    border-top: .1em solid #31498b;
    background-color: #31498b;
}